<%- include('partials/header') -%>

<h1> About </h1>
<p> <%= AboutContent %> </p>
<a href='https://hanwenzhang123.github.io/whoami/' role='button' type="button" class="btn btn-success">Read More About Me</a>

<%- include('partials/footer') -%>