<%- include('partials/header') -%>

<h1> Contact </h1>
<p> <%= ContactContent %> </p>
<a href='https://www.linkedin.com/in/hanwenzhang123/' role='button' type="button" class="btn btn-success">LinkedIn</a>
<a href='mailto:hz2070@nyu.edu' role='button' type="button" class="btn btn-success">Email Me</a>

<%- include('partials/footer') -%>